@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato/Lato-Light.ttf');
}

body {
    font-family: Lato-Regular;
    color: white;
    border: none;
    margin: 0;
}

#bird {
    display: inline-block;
    background-color:white;
    width: 100vw;
    height: 60vh;
}

#text {
    display: inline-block;
    background-color:#4183F7;
    width: 100vw;
    height: 40vh;
}

#link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    text-align: center;
}

#google_play{
    height: 15vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#github{
    height: 15vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#google_play:hover{
    opacity: 0.4;
}

#github:hover{
    opacity: 0.4;
}

#title{
    text-align: center;
    font-size: 50pt;
    margin: 0;
}
